name: Checkout
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      
      - name: cd into folder
        run: cd .github/workflows

      - name: display all files 
        run: ls -la
